@model Models.Kisa

@{
    ViewData["Title"] = Model.Nimi;
}



<h1>@Model.Nimi</h1>
<h3>@Model.Id</h3>

<div class="grid-container">
    <div class="grid-item" onClick="location.href='@Model.Id/Rastit'"><img class="grid-item-image" alt="Rastit" src="/images/rasti.png"><p class="grid-item-text">Rastit</p></div>
    <div class="grid-item" onClick="location.href='@Model.Id/Vartiot'"><img class="grid-item-image" alt="Vartiot" src="/images/vartio.png"><p class="grid-item-text">Vartiot</p></div>
    <div class="grid-item" onClick="location.href='@Model.Id/Sarjat'"><img class="grid-item-image" alt="Sarjat" src="/images/sarja.png"><p class="grid-item-text">Sarjat</p></div>
    <div class="grid-item" onClick="location.href='/Rasti/Luo?kisaid=@Model.Id'"><img class="grid-item-image" alt="Uusi rasti" src="/images/Lisaa_rasti.png"><p class="grid-item-text">Uusi rasti</p></div>
    <div class="grid-item" onClick="location.href='/Vartio/Luo?kisaid=@Model.Id'"><img class="grid-item-image" alt="Uusi vartio" src="/images/lisaa_vartio.png"><p class="grid-item-text">Uusi Vartio</p></div>
    <div class="grid-item" onClick="location.href='/Sarja/Luo?kisaid=@Model.Id'"><img class="grid-item-image" alt="Uusi sarja" src="/images/lisaa-sarja.png"><p class="grid-item-text">Uusi Sarja</p></div>
    <div class="grid-item" onClick="location.href='@Model.Id/Edit'"><img class="grid-item-image" alt="Rastit" src="/images/edit.png"><p class="grid-item-text">Hallitse tietoja</p></div>
</div>
