@model Models.Kisa

@{
    ViewData["Title"] = Model.Nimi;
}



<h1>@Model.Nimi</h1>
<h3>@Model.Id</h3>

<div class="grid-container">
    <div class="grid-item" onClick="location.href='@Model.Id/Rastit'"><img class="grid-item-image" alt="Rastit" src="/images/Nayta_rastit.png">Rastit</div>
    <div class="grid-item" onClick="location.href='@Model.Id/Vartiot'"><img class="grid-item-image" alt="Rastit" src="/images/Nayta_rastit.png">Vartiot</div>
    <div class="grid-item" onClick="location.href='@Model.Id/Sarjat'"><img class="grid-item-image" alt="Sarjat" src="/images/Nayta_rastit.png">Sarjat</div>
    <div class="grid-item" onClick="location.href='/Rasti/Create?kisaid=@Model.Id'"><img class="grid-item-image" alt="Uusi rasti" src="/images/Nayta_rastit.png">Uusi rasti</div>
    <div class="grid-item" onClick="location.href='/Vartio/Create?kisaid=@Model.Id'"><img class="grid-item-image" alt="Uusi vartio" src="/images/Nayta_rastit.png">Uusi Vartio</div>
    <div class="grid-item" onClick="location.href='/Sarja/Luo?kisaid=@Model.Id'"><img class="grid-item-image" alt="Uusi sarja" src="/images/Nayta_rastit.png">Uusi Sarja</div>
    <div class="grid-item" onClick="location.href='@Model.Id/Edit'"><img class="grid-item-image" alt="Rastit" src="/images/Nayta_rastit.png">Hallitse tietoja</div>
</div>
