@model Kisa_Kuikka.Models.ViewModels.ListaaRastitViewModel


@{
    ViewData["Title"] = "Rastit";
}

<h1>Rastit</h1>


<secure-content asp-area="" asp-controller="Kisa" asp-action="LuoRasti">
    <button type="button" class="btn btn-light" onclick="location.href = '/Kisa/@Model.KisaId/LuoRasti?kisaId=@Model.KisaId';">Luo uusi</button>
</secure-content>
@if(Model.Rastit != null && Model.Tilanteet != null)
{
    


    <table class="table" style="color: white">
        <thead><tr></tr></thead>
        <tbody>
            @foreach (var item in Model.Rastit)
            {
                <tr>
                    <td>


                        <h4>@item.NumeroJaNimi</h4>
                        <h5 class="text-success">@Model.Tilanteet.FirstOrDefault(x => x.Id == item.TilanneId)?.Nimi</h5>

                    </td>


                    <td>
                        <secure-content asp-controller="Tag" asp-action="Index" asp-rastiid="@item.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-primary" onclick="location.href = '/Tag?RastiId=@item.Id';">Skannaa tag</button>
                        </secure-content>

                        <secure-content asp-controller="Rasti" asp-action="Edit" asp-rastiid="@item.Id" asp-controllertype="1" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-warning" onclick="location.href = '/Rasti/Edit?RastiId=@item.Id';">Muokkaa</button>
                        </secure-content>

                        <secure-content asp-controller="Rasti" asp-action="Tilanne" asp-rastiid="@item.Id" asp-controllertype="1" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-primary" onclick="location.href = '/Rasti/Tilanne?RastiId=@item.Id';">Tilanne</button>
                        </secure-content>

                        <secure-content asp-controller="Tehtava" asp-action="Index" asp-rastiid="@item.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-primary" onclick="location.href = '/Tehtava/?RastiId=@item.Id';">Tehtävät</button>
                        </secure-content>
                       
                        <secure-content asp-controller="Kisa" asp-action="PoistaRasti">
                            <button type="button" class="btn btn-danger" onclick="location.href = '/Kisa/@Model.KisaId/PoistaRasti?RastiId=@item.Id';">Poista</button>
                        </secure-content>
                        
                       

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
