@model IEnumerable<Kipa_plus.Models.Sarja>

@{
    ViewData["Title"] = "Sarjat";
}

<h1>Sarjat</h1>

<p>
     <button type="button" class="btn btn-light" onclick="location.href = '/Sarja/Luo?kisaid=@ViewBag.KisaId';">Luo Sarja</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VartionMaksimiko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VartionMinimikoko)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KisaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VartionMaksimiko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VartionMinimikoko)
                </td>
                
                <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Sarja/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '/Sarja/Delete?id=@item.Id';">Poista</button>
                </td>
            </tr>
        }
    </tbody>
</table>
