@model IEnumerable<Kipa_plus.Models.Vartio>

@{
    ViewData["Title"] = "Vartiot";
}

<h1>Vartiot</h1>

<p>
    <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/Create?kisaid=@ViewBag.KisaId';">Luo vartio</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lippukunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KisaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lippukunta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                
                <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/LiitaTag?VartioId=@item.Id';">Lisaa tag</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '/Vartio/Delete?id=@item.Id';">Poista</button>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
