@model Kisa_Kuikka.Models.ViewModels.MuokkaaVartiotaViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Muokkaa vartiota";
}

<h1>Muokkaa</h1>

<h4>Vartio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-10">

                <input asp-for="Id" class="form-control" hidden="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <p class="text-danger">Huom! Vartion sarjan vaihtaminen tuhoaa kaikki vartion tehtävien vastaukset</p>
            <div class="col-md-10">
                <label class="control-label">Sarja</label>
                @Html.DropDownListFor(model => model.SarjaId,new SelectList(Model.Sarjat, "Id", "NimiJaKokoNumero"),  new { @class = "form-control", @id = "dropdown"} )
                @Html.ValidationMessageFor(model => model.SarjaId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input hidden id="numeroInput" asp-for="Numero" class="form-control" />
                <select class="form-control" id="numeroselect">
                </select>
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Lippukunta" class="control-label"></label>
                <input asp-for="Lippukunta" class="form-control" />
                <span asp-validation-for="Lippukunta" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Muokkaa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    let sarjat = @Html.Raw(JsonConvert.SerializeObject(Model.Sarjat.Select(x => new { x.Id, x.Nimi, x.Numero }).ToList()))
        let olemassaOlevatvartiot = @Html.Raw(Model.olemassaOlevatVartiot)

            let numeroinput = document.getElementById('numeroInput');
    let dropdown = document.getElementById('dropdown');
    let numerodropdown = document.getElementById('numeroselect');

    //luo kaikki sivun latautuessa ja valitse oikea numero
    change();
    numerodropdown.value = @Model.Numero;

    dropdown.addEventListener('change', function () {
        change();
    });

    //luo numero vaihtoehdot
    function change() {
        let selectedOption = sarjat[dropdown.selectedIndex];
        let numero = selectedOption.Numero;

        numerodropdown.options.length = 0;

        //0 - 10 esim. 100, 101, 102, 109
        for (let i = 0; i < 10; i++) {
            let option = document.createElement('option');
            let teksti = numero.toString() + "0" + i.toString();
            if (olemassaOlevatvartiot.includes(parseInt(teksti))) {
                continue;
            }
            option.text = teksti;
            numerodropdown.add(option);
        }

        //loput esim. 110, 111,112,199
        for (let i = 10; i < 100; i++) {
            let option = document.createElement('option');
            let teksti = numero.toString() + i.toString();
            if (olemassaOlevatvartiot.includes(parseInt(teksti))) {
                continue;
            }
            option.text = teksti;
            numerodropdown.add(option);
        }

        numeroinput.value = numerodropdown.options[numerodropdown.selectedIndex].value.toString();
    };



    numerodropdown.addEventListener('change', function (selected) {

        numeroinput.value = numerodropdown.options[numerodropdown.selectedIndex].value.toString();
    });


</script>