@using Kisa_Kuikka.Models.DynamicAuth;
@using Kisa_Kuikka;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<UserRoleViewModel>
@{
    ViewData["Title"] = "Käyttäjät";
    Layout = "_Layout";
}

<h2>Käyttäjät</h2>

<table class="table" style="color:white">
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(m => m.Nimi) </th>
            <th scope="col"> @Html.DisplayNameFor(m => m.Roles) </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <h5>@Html.DisplayFor(m => user.Nimi)</h5>
                    <p>@Html.DisplayFor(m => user.UserName)</p>
                </td>
                
                <td>
                    @for (var i = 0; i < user.Roles.Count(); i++)
                    {
                        var element = user.Roles.ElementAt(i);
                        <span style="background-color:#404040; border-radius: 0.3em; padding: 0.2em;">@Html.DisplayFor(_ => element)</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@user.UserId">Muokkaa</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@user.UserId">Poista</a>
                    @if (user.Has2FA)
                    {
                        <a asp-action="Delete2FA" class="btn btn-light" asp-route-id="@user.UserId">Poista 2FA</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>