@using Kisa_Kuikka.Models.DynamicAuth;
@using Kisa_Kuikka;
@using Kisa_Kuikka.Models.DynamicAuth.Custom;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RoleViewModel
@{
    ViewData["Title"] = "Muokkaa roolia";
    var controllers = Model.KaikkiControllers;
    var rastit = Model.KaikkiRastit;
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/jquery.bonsai.min.css">
<link rel="stylesheet" href="/css/site.css">

<h2>Muokka roolia</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-form-label">Rastit</label>
                <div class="col-md-9">
                    <ol id="rastitree">

                        @foreach (var rasti in rastit)
                        {
                            var selectedrasti = Model?.ValitutRastit?.SingleOrDefault(x => x.RastiId == rasti.RastiId);
                            <li class="rasticontroller" data-value="@rasti.Name">
                                <input type="hidden" class="area" value="@rasti.RastiId" />
                                @rasti.Name
                                <ol>
                                    @if (rasti.Actions?.Any() ?? false)
                                    {
                                        <li class="commonactions" data-value="@rasti.Name">
                                            <input type="hidden" class="area" value="@rasti.RastiId" />
                                            Yleistä
                                            <ul>

                                                @foreach (var action in rasti.Actions)
                                                {
                                                    var name = action.DisplayName ?? action.Name;
                                                    @if(selectedrasti != null)
                                                    {
                                                        @if(selectedrasti.Actions != null)
                                                        {
                                                            @if (selectedrasti.Actions.Any(c => c.Name == action.Name))
                                                            {
                                                                <li data-value="@action.Name" data-checked="1">@name</li>
                                                            }
                                                            else
                                                            {
                                                                <li data-value="@action.Name">@name</li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li data-value="@action.Name">@name</li>
                                                        }

                                        }
                                                    else
                                                    {
                                                        <li data-value="@action.Name">@name</li>
                                                    }
                                                    
                                                }
                                            </ul>
                                        </li>
                                    }

                                    @foreach (var subcontroller in rasti.SubControllers)
                                    {
                                        var name2 = subcontroller.DisplayName ?? subcontroller.Name;
                                        var selectedsubcontroller = Model?.ValitutRastit?.SingleOrDefault(x => x.RastiId == rasti.RastiId)?.SubControllers?.SingleOrDefault(x => x.Name == subcontroller.Name);


                                        <li class="subcontroller" data-value="@subcontroller.Name">
                                            <input type="hidden" class="area" value="@subcontroller.Name" />
                                            @name2
                                            @if (subcontroller.Actions.Any())
                                            {
                                                <ul>
                                                    @foreach (var action in subcontroller.Actions)
                                                    {
                                                        name2 = action.DisplayName ?? action.Name;
                                                        <li data-value="@action.Name" @if(selectedsubcontroller != null && selectedsubcontroller.Actions.Any(c => c.Name == action.Name)){<text> data-checked='1' </text>}>@name2</li>
                                                    }
                                                </ul>
                                            }

                                        </li>


                                    }
                                </ol>
                            </li>
                        }
                    </ol>
                    <label class="col-md-12 col-form-label">Yleiset</label>
                    <ol id="tree">
                        @foreach (var controller in controllers)
                        {
                            var selectedController = Model?.SelectedControllers?.SingleOrDefault(c => c.Id == controller.Id);
                            var name = controller.DisplayName ?? controller.Name;

                            <li class="controller" data-value="@controller.Name">

                                <input type="hidden" class="area" value="@controller.AreaName" />
                                @name
                                @if (controller.Actions.Any())
                                {
                                    <ul>
                                        @foreach (var action in controller.Actions)
                                        {
                                            {
                                                name = action.DisplayName ?? action.Name;
                                            }
                                            <li data-value="@action.Name"
                                                @if (selectedController != null && selectedController.Actions.Any(a => a.Id == action.Id)) { <text> data-checked='1' </text> }>
                                                @name
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ol>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Muokkaa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" async></script>
    <script src="/js/jquery.qubit.min.js"></script>
    <script src="/js/jquery.bonsai.min.js"></script>
    <script src="/js/site.js"></script>

    <script>
    $(function () {
        $(".delete-item").click(function (e) {
            confirm("Are you sure want delete this role ?");
            e.preventDefault();
            const anchor = $(this);
            const url = $(anchor).attr("href");
            $.ajax({
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                processData: false,
                type: "DELETE",
                url: url,
                success: function () {
                    $(anchor).parent("td").parent("tr").fadeOut("slow",
                        function () {
                            $(this).remove();
                        });
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    let message = `${textStatus} ${xmlHttpRequest.status} ${errorThrown}`;
                    if (xmlHttpRequest.responseText !== null) {
                        const response = JSON.parse(xmlHttpRequest.responseText);
                        for (let error of response["Error"]) {
                            message += `\n${error}`;
                        }
                    }

                    alert(message);
                }
            });
        });

        $("#tree").bonsai({
            expandAll: true,
            checkboxes: true,
            createInputs: "checkbox"
        });

        $("#rastitree").bonsai({
            expandAll: false,
            checkboxes: true,
            createInputs: "checkbox"
        });

        $("#subcontroller").bonsai({
            expandAll: false,
            checkboxes: true,
            createInputs: "checkbox"
        });


        $("form").submit(function () {

            //Yleiset
            let controllerIndex = 0, actionIndex = 0;
            $('.controller > input[type="checkbox"]:checked, .controller > input[type="checkbox"]:indeterminate').each(function () {
                const controller = $(this);
                if ($(controller).prop("indeterminate")) {
                    $(controller).prop("checked", true);
                }
                const controllerName = "SelectedControllers[" + controllerIndex + "]";
                $(controller).prop("name", controllerName + ".Name");

                const area = $(controller).next().next();
                $(area).prop("name", controllerName + ".AreaName");

                $('ul > li > input[type="checkbox"]:checked', $(controller).parent()).each(function () {
                    const action = $(this);
                    const actionName = controllerName + ".Actions[" + actionIndex + "].Name";
                    $(action).prop("name", actionName);
                    actionIndex++;
                });
                actionIndex = 0;
                controllerIndex++;
            });

            //rastit
            let RastiControllerIndex = 0;
            $('.rasticontroller > input[type="checkbox"]:checked, .rasticontroller > input[type="checkbox"]:indeterminate').each(function () {

                const controller1 = $(this);
                if ($(controller1).prop("indeterminate")) {
                    $(controller1).prop("checked", true);
                }

                //nimi ja id
                const controllerName1 = "ValitutRastit[" + RastiControllerIndex + "]";
                $(controller1).prop("name", controllerName1 + ".Name");
                const area1 = $(controller1).next().next();
                $(area1).prop("name", controllerName1 + ".RastiId");

                //yleiset rastista
                staticrastiactionIndex = 0;
                $(this.parentElement).find('.commonactions > input[type="checkbox"]:checked, .commonactions > input[type="checkbox"]:indeterminate').each(function () {

                    const controller = $(this);
                    if ($(controller).prop("indeterminate")) {
                        $(controller).prop("checked", true);
                    }
                    const controllerName = "ValitutRastit[" + RastiControllerIndex + "]";

                    $('ul > li > input[type="checkbox"]:checked', $(controller).parent()).each(function () {
                        const action = $(this);
                        const actionName = controllerName + ".Actions[" + staticrastiactionIndex + "].Name";
                        $(action).prop("name", actionName);
                        staticrastiactionIndex++;
                    });
                    staticrastiactionIndex = 0;

                });

                //subcontrollerit
                let subcontrollerindex = 0;
                $(this.parentElement).find('.subcontroller > input[type="checkbox"]:checked, .subcontroller > input[type="checkbox"]:indeterminate').each(function () {

                    const controller = $(this);
                    if ($(controller).prop("indeterminate")) {
                        $(controller).prop("checked", true);
                    }
                    const controllerName = "ValitutRastit[" + RastiControllerIndex + "].SubControllers[" + subcontrollerindex + "]";
                    $(controller).prop("name", controllerName + ".Name");


                    let rastiactionIndex = 0;
                    $('ul > li > input[type="checkbox"]:checked', $(controller).parent()).each(function () {
                        const action = $(this);
                        const actionName = controllerName + ".Actions[" + rastiactionIndex + "].Name";
                        $(action).prop("name", actionName);
                        rastiactionIndex++;
                    });

                    subcontrollerindex++;


                });

                RastiControllerIndex++;

            });



            return true;
        });
    });
    </script>

<div>
    <a asp-action="Index">Takaisin listaan</a>
</div>