@model Kipa_plus.Models.Sarja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sarja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VartionMaksimiko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VartionMaksimiko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VartionMinimikoko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VartionMinimikoko)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
