@model Kipa_plus.Models.Tehtävä

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tehtävä</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-10">  
                <label class="control-label">Kisa</label>
                @Html.DropDownListFor(model => model.KisaId,new SelectList(ViewBag.Kisat, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.KisaId, "", new { @class = "text-danger" })  
            </div> 
            <div class="col-md-10">  
                <label class="control-label">Sarja</label>
                @Html.DropDownListFor(model => model.SarjaId,new SelectList(ViewBag.Sarjat, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.SarjaId, "", new { @class = "text-danger" })  
            </div>  
             
            <div class="col-md-10">  
                <label class="control-label">Rasti</label>
                @Html.DropDownListFor(model => model.RastiId,new SelectList(ViewBag.Rastit, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.RastiId, "", new { @class = "text-danger" })  
            </div>  
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TehtavaJson" class="control-label"></label>
                <input asp-for="TehtavaJson" class="form-control" />
                <span asp-validation-for="TehtavaJson" class="text-danger"></span>
            </div>
            <div class="json-editor">

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    jQuery(function($) {
      $(document.getElementById('json-editor')).formBuilder();
    });
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
