@model Kipa_plus.Models.Tehtävä

@{
    ViewData["Title"] = "Create";
}


 

<h1>Create</h1>

<h4>Tehtävä</h4>
<hr />
<div class="row">
    <div >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-10" style="max-width:500px">  
                <label class="control-label">Kisa</label>
                @Html.DropDownListFor(model => model.KisaId,new SelectList(ViewBag.Kisat, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.KisaId, "", new { @class = "text-danger" })  
            </div> 
            <div class="col-md-10" style="max-width:500px">
                <label class="control-label">Sarja</label>
                @Html.DropDownListFor(model => model.SarjaId,new SelectList(ViewBag.Sarjat, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.SarjaId, "", new { @class = "text-danger" })  
            </div>  
             
            <div class="col-md-10" style="max-width:500px">
                <label class="control-label">Rasti</label>
                @Html.DropDownListFor(model => model.RastiId,new SelectList(ViewBag.Rastit, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.RastiId, "", new { @class = "text-danger" })  
            </div>  
            <div class="form-group" style="max-width:500px">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" hidden="hidden">
                <label asp-for="TehtavaJson" class="control-label"></label>
                <input asp-for="TehtavaJson" id="json-input" class="form-control" />
                <span asp-validation-for="TehtavaJson" class="text-danger"></span>
            </div>
            <div class="json-editor" id="json-editor" style="color:black">
                

            </div>
            <br />
            
            <div class="form-group">
                <input type="submit" id="submit-button" value="Lähetä" class="btn btn-primary" />
            </div>
        </form>
        
       
    </div>
</div>


  

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="assets/js/form-builder.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="assets/js/media.js"></script>
<script src="assets/js/currentTime.js"></script>
<script src="assets/js/picker.js"></script>
<link href="assets/picker.css" rel="stylesheet">
<script src="assets/js/arviointivali.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        

        jQuery(function ($) {
           var fbeditor = document.getElementById('json-editor');

            var options = {
                disableFields: ['hidden', 'button', 'file'],
                disabledAttrs:['className', 'name', 'access'],
                typeUserDisabledAttrs:{
                media: ['required', 'placeholder', 'value', 'description'],
                'checkbox-group': ['toggle'],
                'date': ['placeholder', 'value'],
                'textarea': ['subtype']},
                i18n: {
                    locale: 'fi-Fi'
                },
                disabledActionButtons: ['save', 'data'],
                actionButtons: [{
                    id: 'code',
                    className: 'btn btn-success',
                    label: '📄',
                    type: 'button',
                    events: {
                    click: function() {
                      alert(fb.actions.getData('json'));
                    }
                  }
                  }]
            };

           var fb = $(fbeditor).formBuilder(options);


            document.getElementById('submit-button').addEventListener('click', function () {
                var data = fb.actions.getData('json');
                document.getElementById('json-input').value = data;
                
            });
        });

       
    </script>
}
