@model IEnumerable<Kipa_plus.Models.Tehtävä>

@{
    ViewData["Title"] = "Rastin tehtävät";
}

<h1>Rastin tehtävät</h1>

<p>
    
    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtävä/Create?KisaId=@ViewBag.KisaId&RastiId=@ViewBag.RastiId';">Luo tehtävä</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SarjaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RastiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SarjaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KisaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RastiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
           
            <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtävä/Nayta?TehtavaId=@item.Id';">Näytä</button>
                <button type="button" class="btn btn-light" onclick="location.href = '/Tehtävä/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '/Tehtävä/Delete?id=@item.Id';">Poista</button>
            </td>
        </tr>
}
    </tbody>
</table>
