@model Kipa_plus.Models.Tehtava

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tehtava</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SarjaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SarjaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RastiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RastiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarkistettu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarkistettu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TehtavaJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TehtavaJson)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
