@model IEnumerable<Kipa_plus.Models.Tehtava>

@{
    ViewData["Title"] = "Rastin Tehtavapohjat";
}

<h1>Rastin Tehtavat</h1>

<p>
    
    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Luo?KisaId=@ViewBag.KisaId&RastiId=@ViewBag.RastiId';">Luo Tehtävä</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SarjaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RastiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SarjaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KisaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RastiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
           
            <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Tayta?TehtavaId=@item.Id';">Täytä</button>
                <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '/Tehtava/Delete?id=@item.Id';">Poista</button>
            </td>
        </tr>
}
    </tbody>
</table>
