@model Kisa_Kuikka.Models.ViewModels.RastinTehtävätViewModel
@using Kisa_Kuikka.Models;
@using Kisa_Kuikka.Models.ViewModels;
@inject UserManager<IdentityUser> UserManager
@using Newtonsoft.Json.Linq;
@{
    ViewData["Title"] = "Rastin Tehtavapohjat";
}

<h1>@Model.Rasti?.NumeroJaNimi</h1>
<hr />

<p>
    <secure-content asp-controller="Tehtava" asp-action="Luo" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
        <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Luo?KisaId=@Model.KisaId&RastiId=@Model.Rasti.Id';">Luo Tehtävä</button>
    </secure-content>
    
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                <h2>Tehtävät</h2>
            </th>
           <th></th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TehtäväPohjat) {
        <tr>
            
            <td>
               <h4>@item.Nimi</h4>
                    @{
                        var sarjat = (List<Sarja>)Model.Sarjat;
                        var nimet = sarjat.Where(x => x.Id == item.SarjaId);
                        var nimi = "";
                        if(nimet != null)
                        {
                            nimi = nimet.First().Nimi + "-sarja"+ " (" + nimet.First().Numero + "00)";
                        }
                        else
                        {
                            nimi = item.SarjaId.ToString();
                        }

                        }
                        <h5>@nimi</h5>
            </td>
           
            <td>
                    <secure-content asp-controller="Tehtava" asp-action="Tayta" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                        <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Tayta?TehtavaId=@item.Id&RastiId=@Model.Rasti.Id';">Täytä</button>
                    </secure-content>

                     <secure-content asp-controller="Tehtava" asp-action="Edit" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                       <button type="button" class="btn btn-warning" onclick="location.href = '/Tehtava/Edit?id=@item.Id&RastiId=@Model.Rasti.Id';">Muokkaa</button>
                    </secure-content>
                    
                     <secure-content asp-controller="Tehtava" asp-action="Delete" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                        <button type="button" class="btn btn-danger" onclick="location.href = '/Tehtava/Delete?id=@item.Id&RastiId=@Model.Rasti.Id';">Poista</button>
                    </secure-content>
                    
                    
                    
                    
            </td>
        </tr>
}
    </tbody>
</table>

@if(Model.TehtavaVastausKesken.Count != 0)
{
    <br />
    <br />


    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>
                    <h2>Kesken</h2>
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TehtavaVastausKesken)
            {
                <tr>

                    <td>
                        @{
                            var VartioNimi = Model.Vartiot.Where(x => x.Id == item.VartioId).First().NumeroJaNimi;
                        }

                        <h4>@VartioNimi</h4>
                        @{
                            var tehtnimi = Model.TehtäväPohjat.Where(x => x.Id == item.TehtavaId).First().Nimi;
                        }
                        <h5>@tehtnimi</h5>
                        <h5 class="text-warning">Kesken</h5>
                    </td>

                    <td>
                          <secure-content asp-controller="Tehtava" asp-action="Jatka" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                        <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Jatka?TehtavaId=@item.Id&RastiId=@Model.Rasti.Id';">Jatka</button>
                    </secure-content>

                        <secure-content asp-controller="Tehtava" asp-action="PoistaVastaus" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-danger" onclick="location.href = '/Tehtava/PoistaVastaus?id=@item.Id&RastiId=@Model.Rasti.Id';">Poista</button>
                        </secure-content>
                       
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if(Model.TehtavaVastausTarkistus.Count != 0)
{
    <br />
    <br />


    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>
                    <h2>Odottaa tarkistusta</h2>
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TehtavaVastausTarkistus)
            {
                <tr>

                    <td>
                       @{
                            var VartioNimi = Model.Vartiot.Where(x => x.Id == item.VartioId).First().NumeroJaNimi;
                        }

                        <h4>@VartioNimi</h4>
                        @{
                            var tehtnimi = Model.TehtäväPohjat.Where(x => x.Id == item.TehtavaId).First().Nimi;
                        }
                        <h5>@tehtnimi</h5>
                        <h5 class="text-warning">Odottaa tarkistusta</h5>
                    </td>

                    <td>
                        <secure-content asp-controller="Tehtava" asp-action="Tarkista" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            @if (Model.Rasti.VaadiKahdenKayttajanTarkistus)
                            {
                                var nykyinenUser = await UserManager.GetUserAsync(User);
                                var jatkajat = new List<(string, DateTime)>();
                                if (item.JatkajatJson != null)
                                {
                                    var arr = JArray.Parse(item.JatkajatJson);
                                    foreach (var fitem in arr)
                                    {
                                        jatkajat.Add((fitem["UserId"].ToString(), DateTime.Parse(fitem["Aika"].ToString())));
                                    }
                                }
                                @if (item.TäyttäjäUserId == nykyinenUser?.Id || jatkajat.Where(x => x.Item1 == nykyinenUser?.Id).Any())
                                {
                                    <button type="button" disabled class="btn btn-light">Et voi tarkistaa tehtävää jonka olet itse täyttänyt</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Tarkista?TehtavaId=@item.TehtavaId&VartioId=@item.VartioId&RastiId=@Model.Rasti.Id';">Tarkista</button>
                                }
                            }
                            else
                            {
                                <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Tarkista?TehtavaId=@item.TehtavaId&VartioId=@item.VartioId&RastiId=@Model.Rasti.Id';">Tarkista</button>
                            }
                           
                        </secure-content>

                        <secure-content asp-controller="Tehtava" asp-action="Nayta" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Nayta?TehtavaVastausId=@item.Id&RastiId=@Model.Rasti.Id';">Näytä aiempi vastaus</button>
                        </secure-content>

                        
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if(Model.TehtavaVastausTarkistetut.Count != 0)
{
    <br />
    <br />

    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>
                    <h2>Tarkistetut</h2>
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TehtavaVastausTarkistetut)
            {
                <tr>

                    <td>
                        @{
                            var VartioNimi = Model.Vartiot.Where(x => x.Id == item.VartioId).First().NumeroJaNimi;
                        }

                        <h4>@VartioNimi</h4>
                        @{
                            var tehtnimi = Model.TehtäväPohjat.Where(x => x.Id == item.TehtavaId).First().Nimi;
                        }
                        <h5>@tehtnimi</h5>
                        <h5 class="text-success">Tarkistettu</h5>
                    </td>

                    <td>
                        <secure-content asp-controller="Tehtava" asp-action="Nayta" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Nayta?TehtavaVastausId=@item.Id&RastiId=@Model.Rasti.Id';">Näytä</button>
                        </secure-content>

                         <secure-content asp-controller="Tehtava" asp-action="MuokkaaVastausta" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/MuokkaaVastausta?VastausId=@item.Id&RastiId=@Model.Rasti.Id';">Muokkaa vastausta</button>
                        </secure-content>

                         <secure-content asp-controller="Tehtava" asp-action="PoistaVastaus" asp-rastiid="@Model.Rasti.Id" asp-controllertype="2" asp-controllergroup="Rasti">
                            <button type="button" class="btn btn-danger" onclick="location.href = '/Tehtava/PoistaVastaus?id=@item.Id&RastiId=@Model.Rasti.Id';">Poista vastaus</button>
                        </secure-content>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
