@model Kipa_plus.Models.ViewModels.LuoTehtavaViewModel
@using Kipa_plus.Models;

@{
    ViewData["Title"] = "Luo";
}


 

<h1>Luo</h1>

<h4>Tehtäva</h4>
<hr />
<div class="row">
    <div >
        <form action="/Tehtava/Luo?RastiId=@Model.RastiId" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="KisaId" class="form-control" hidden="hidden" />
                <span asp-validation-for="KisaId" class="text-danger"></span>
            </div>


            <div class="form-group">
                
                <input asp-for="RastiId" class="form-control" hidden="hidden" />
                <span asp-validation-for="RastiId" class="text-danger"></span>
            </div>

            
            <div class="col-md-10" style="max-width:500px">
                <label class="col-md-12 col-form-label">Valitse sarjat joille tämä tehtävä on</label>

                @for (var index = 0; index < @Model.Sarjat?.Count(); index++)
                {
                    <input type="checkbox" asp-for="@Model.Sarjat[index].IsChecked" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Sarjat[index].IsChecked">
                    @Model.Sarjat[index].DisplayName
                    </label>
                    <input type="hidden" asp-for="@Model.Sarjat[index].Id" />
                    <input type="hidden" asp-for="@Model.Sarjat[index].DisplayName" />
                }

            </div>
            
            <div class="form-group" style="max-width:500px">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" >
                
                <input asp-for="TehtavaJson" id="json-input" class="form-control" hidden="hidden" />
                <span asp-validation-for="TehtavaJson" class="text-danger"></span>
            </div>
            <div class="json-editor" id="json-editor" style="color:black">
                

            </div>
            <br />
            
            <div class="form-group">
                <input type="submit" id="submit-button" value="Lähetä" class="btn btn-primary" />
            </div>
        </form>
        
       
    </div>
</div>


  

<div>
   
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="assets/js/form-builder.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/media.js"></script>
<script src="assets/js/currentTime.js"></script>
<script src="assets/js/picker.js"></script>
<link href="assets/picker.css" rel="stylesheet">
<script src="assets/js/arviointivali.js"></script>
<script src="assets/js/fileUpload.js"></script>
<script src="/js/jquery.bonsai.min.js"></script>
<script src="/js/jquery.qubit.min.js"></script>
<link rel="stylesheet" href="/css/jquery.bonsai.min.css">


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        

        jQuery(function ($) {
            //lisää formbuilder

            
            
           var fbeditor = document.getElementById('json-editor');

            var options = {
                disableFields: ['hidden', 'button', 'media', 'file', 'date'], 
                disabledAttrs:['className', 'name', 'access'],
                typeUserDisabledAttrs:{
                media: ['required', 'placeholder', 'value', 'description'],
                'checkbox-group': ['toggle'],
                'date': ['placeholder', 'value'],
                'textarea': ['subtype']},
                i18n: {
                    locale: 'fi-Fi'
                },
                disabledActionButtons: ['save', 'data'],
                actionButtons: [{
                    id: 'code',
                    className: 'btn btn-success',
                    label: 'Kopioi',
                    type: 'button',
                    events: {
                    click: function() {
                            navigator.clipboard.writeText(fb.actions.getData('json')).then(
                                () => {
                                    alert("Data kopioitu leikepöydälle");
                                },
                                () => {
                                    alert("Virhe kopioidessa leikepöydälle, varmista että olet antanut sivulle 'clipboard-write' oikeuden");
                                }
                            );

                      
                    }
                  }
                   
                  },
                {
                    id: 'setcode',
                    className: 'btn btn-success',
                    label: 'Liitä',
                    type: 'button',
                    events: {
                        click: function () {
                            var koodi = prompt("Liitä tähän kopioimasi JSON koodi");
                            if (koodi != null) {
                                fb.actions.setData(koodi);
                            }
                        }
                    }
                    }]
            };

           var fb = $(fbeditor).formBuilder(options);

            

           //Lähetä nappia painaessa formbuilderin data siirretään json muodossa piilotettuun kentään formissa jonka kautta se lähetetään palvelimelle
            document.getElementById('submit-button').addEventListener('click', function () {
                var data = fb.actions.getData('json');
                document.getElementById('json-input').value = data;

                
            });
        });

       
    </script>
}
