@model Kipa_plus.Models.TehtavaVastaus;
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Nayta tehtävä vastaus";
}
<h4>Näytä tehtävän vastaus</h4>
<hr />

<h2>@ViewBag.VartioNimi</h2>
<br />

@{
    string? tayttaja = "";
    var id = Model.TäyttäjäUserId;
    if (id != null)
    {
        var user = await UserManager.FindByIdAsync(id);
        if (user != null)
        {
            var claims = await UserManager.GetClaimsAsync(user);
            tayttaja = "Täyttäjä: " + claims?.FirstOrDefault(x => x.Type == "KokoNimi")?.Value ?? user.UserName;
        }

    }

    string? jatkaja = "";
    var jid = Model.JatkajaUserId;
    if (jid != null)
    {
        var user = await UserManager.FindByIdAsync(jid);
        if (user != null)
        {
            var claims = await UserManager.GetClaimsAsync(user);
            jatkaja = "Jatkaja: " + claims?.FirstOrDefault(x => x.Type == "KokoNimi")?.Value ?? user.UserName;
        }
    }

    string? tarkistaja = "";
    var tid = Model.TarkistajaUserId;
    if (tid != null)
    {
        var user = await UserManager.FindByIdAsync(tid);
        if (user != null)
        {
            var claims = await UserManager.GetClaimsAsync(user);
            tarkistaja = "Tarkistaja: " + claims?.FirstOrDefault(x => x.Type == "KokoNimi")?.Value ?? user.UserName;
        }
    }

}
<h5>Täytetty: @Model.TäyttämisAika.ToString("dd.MM.yyyy HH.mm")</h5>
<h5>@tayttaja</h5>
@if (jatkaja != null || jatkaja != "")
{
    @if(Model?.JatkamisAika != null)
    {
        <h5>Jatkettu: @Model?.JatkamisAika?.ToString("dd.MM.yyyy HH.mm")</h5>
    }
    <h5>@jatkaja</h5>
}
@if(Model?.TarkistusAika != null)
    {
        <h5>Tarkistettu: @Model?.TarkistusAika?.ToString("dd.MM.yyyy HH.mm")</h5>
    }
<h5>@tarkistaja</h5>
<hr />
<div class="row">
    <div>
        <form asp-action="Nayta" id="Formi">

        

        <div class="form-group" hidden="hidden">
            <label asp-for="TehtavaJson" class="control-label"></label>
            <input asp-for="TehtavaJson" id="json-input" class="form-control" />
            <span asp-validation-for="TehtavaJson" class="text-danger"></span>
        </div>

        <div class="json-viewer" id="json-viewer"></div>

       

        </form>
    </div>
</div>
<button onclick="window.print();" class="btn btn-dark noPrint">
    Tulosta
</button>






<script src="~/js/site.js" asp-append-version="true"></script>
<script src="assets/js/form-render.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/media.js"></script>
<script src="assets/js/currentTime.js"></script>
<script src="assets/js/picker.js"></script>
<link href="assets/picker.css" rel="stylesheet">
<script src="assets/js/arviointivali.js"></script>
<script src="assets/js/fileUpload.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        //luo formrender käyttämällä piilokentässä olevaa jsonia joka tehtiin formbuilderilla
        jQuery(function ($) {
            var fbeditor = document.getElementById('json-viewer');
            var getdata = document.getElementById('json-input').value;
            var fb = $(fbeditor).formRender({
                dataType: 'json',
                formData: getdata
            });

            $("input, textarea").prop("readonly", true);
           
        })
    </script>
}
